<header class="site-header">

    <div class="wrapper">

        <a class="site-title" href="http://pittsburghpa.gov/citiparks/"><img src="{{ "/img/citiparks_logo.png" | prepend: site.baseurl }}" width ="40%"></a>
    
    </div>
    <div class="home">
        <div class="page-content">
            <div class="whitehead light">Open now until May 8th, 2015:</div>
            <div class="whitehead">A contract opportunity for cleaning services to work with Citiparks</div>
            <div class="spacer-20"></div> 
            <div class="yellowhead light">Interested?</div>
            <div class="yellowhead">Sign up to get notified of important deadlines and announcements.</div>
            <div class="spacer-20"></div> 
            <!-- Begin MailChimp Signup Form -->
            <div class="mc-field-group">
              <div id="mc_embed_signup">
               <form action="//codeforamerica.us2.list-manage.com/subscribe/post?u=d9acf2a4c694efbd76a48936f&amp;id=e675a4779f" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
                <div id="mc_embed_signup_scroll">
                <input type="email" value="" name="EMAIL" class="email" id="mce-EMAIL" placeholder="Email Address" required>
                <input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button">
              <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups -->
                 <div style="position: absolute; left: -5000px;"><input type="text" name="b_d9acf2a4c694efbd76a48936f_e675a4779f" tabindex="-1" value=""></div>
                </div>
                </form>
              </div>
            </div> 
        </div>
    </div>
      <div class="spacer-20"></div>
          <!--End mc_embed_signup-->
</header>
