<header class="site-header">

    <div class="wrapper">

        <a class="site-title" href="http://pittsburghpa.gov/citiparks/"><img src="{{ "/img/citiparks_logo.png" | prepend: site.baseurl }}" width ="40%"></a>

    </div>
    <div class="home">
        <div class="page-content">
            <div class="whitehead">The Citiparks cleaning services opportunity closed on May 8th, 2015.</div>
            <div class="spacer-20"></div>
            <div class="yellowhead">Find other opportunities and sign up for customized email notifications with <a class="yellowhead-link" href="http://www.buildpgh.com/beacon">Beacon</a>.</div>
            <div class="spacer-20"></div>
        </div>
    </div>
      <div class="spacer-20"></div>
          <!--End mc_embed_signup-->
</header>
