<header class="site-header">

    <div class="wrapper">

        <a class="site-title" href="http://pittsburghpa.gov/citiparks/"><img src="{{ "/img/citiparks_logo.png" | prepend: site.baseurl }}" width ="40%"></a>

    </div>
    <div class="home">
        <div class="page-content">
            <div class="whitehead light">Open now until May 8th, 2015:</div>
            <div class="whitehead">A contract opportunity for cleaning services to work with Citiparks</div>
            <div class="spacer-20"></div>
            <div class="yellowhead light">Interested?</div>
            <div class="yellowhead">Sign up to get notified of important deadlines and announcements.</div>
            <div class="spacer-20"></div>
        </div>
    </div>
      <div class="spacer-20"></div>
          <!--End mc_embed_signup-->
</header>
